footer{
	background: #2c2c2c;
}
.footer_info{
    text-align: center;
    padding: 25px;
    color: #ccc;
    
}
.footer_info a{
    color: #ccc;
}
.logo{
    top: 25px;
	left: 19px;
    position: absolute;
}
