﻿@charset "UTF-8";
* { font-family: "Microsoft YaHei"; }
body {
    width: 100%;
    min-width: 1400px;
}
#wrap {
    width: 100%;
    overflow-x: hidden;
}
.center {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top {
    width: 100%;
    height: 889px;
    background: url(../images/bg-01-4a2d1ff541.jpg) no-repeat top center;
}
    /*logo*/
.top .logo {
    position: absolute;
    top: 25px;
    left: 19px;
}
    /*进入官网*/
.top .enter {
    position: absolute;
    top: 28px;
    right: 40px;
    width: 97px;
    height: 30px;
    background: url(../images/enter-8b5b77aa68.png) no-repeat;
}
.enter a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
    /*提示文字*/
.notice {
    position: absolute;
    top: 392px;
    left: 555px;
    width: 422px;
}
/* 4个特色 */
.slogo {
    position: absolute;
    top: 403px;
    right: 159px;
    width: 628px;
    height: 109px;
}
.slogo li {
    position: absolute;
    width: 198px;
    height: 51px;
    margin-left: 16px;
    background: url(../images/small-btn-2fcccf62ac.png) no-repeat;
}
.slogo .slogo-fir {
    top: 0;
    left: 0;
}
.slogo .slogo-sec {
    bottom: 0;
    left: 104px;
    background-position-x: -219px;
}
.slogo .slogo-thr {
    bottom: 0;
    right: 104px;
    background-position-x: -430px;
}
.slogo .slogo-for {
    top: 0;
    right: 0;
    background-position-x: -654px;
}
.slogo-icon {
    position: absolute;
    top: 445px;
    left: 260px;
}
.slogo-icon-span {
    display: inline-block;
    width: 198px;
    height: 51px;
    background: url(../images/slogo-icon-764041cf5a.png) no-repeat;
}
.slogo-icon-span.fir {
    margin-right: 45px;
}
.slogo-icon-span.sec {
    background-position-x: -243px;
}

/*底部3个框*/
.top-box {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1062px;
}
.top-box li {
    position: relative;
    float: left;
    width: 342px;
    height: 399px;
    background: url(../images/topboxbg-9d77948ee9.png) no-repeat;
    margin: 0 6px;
}
.top-box .btn a {
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    width: 271px;
    height: 52px;
    background: url(../images/btn-bg-top-5999034181.png) no-repeat;
    background-position-y: 0;
    margin: 0 auto;
}
.top-box .btn a:hover {
    background-position-y: -70px;
}
.btn a {display: block; color: #fff; text-decoration: none;}
.top-box li.fir {background-position-x: 0;}
.top-box li.regFinish {background-position-x: 0;}
.top-box li.sec {background-position-x: -383px;}
.top-box li.thr {background-position-x: -765px;}
.top-box li.fir .btn a {
    background-position-x: 0;
}
.top-box li.sec .btn a {
    background-position-x: -336px;
}
.top-box li.thr .btn a {
    background-position-x: -671px;
}
    /*注册完成*/
.regIframe {
    margin: 85px auto 0;
}
.regFinish .regFinishBox {
    width: 288px;
    margin: 100px 0 0 16px;
    color: #7a7a7b;
    font-size: 14px;
    text-align: center;
}
.regFinishBox .title {
    font-size: 15px;
    font-weight: bold;
    color: #515151;
    margin-bottom: 10px;
}
.regFinish p {
    margin-bottom: 4px;
}
.regFinish .card {
    line-height: 30px;
    margin: 0 auto 4px;
    width: 276px;
}
.regFinish .card label,
.regFinish .card input,
.regFinish .card button {
    float: left;
}

.regFinish .card label {
    width: 73px;
}
.regFinish .card input {
    width: 143px;
    height: 28px;
    line-height: 30px;
    border: 1px solid #dedede;
    text-indent: .5em;
}
.regFinish .card button {
    width: 50px;
    height: 30px;
    color: #fff;
    background: #dfad56;
    outline: none;
    border: none;
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
}
.regFinish .introduct {
    font-size: 13px;
    margin-left: 20px;
    line-height: 20px;
    text-align: left;
}
.regFinish .pic {
    width: 315px;
    height: 82px;
    background: url(../images/regfinshpic-377c1a9acd.jpg) no-repeat;
    margin-left: 10px;
}
.regFinish .pic img {
    display: block;
}
.regFinish .noticeText {
    width: 270px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #d4b251;
    color: #75726c;
    font-size: 14px;
    margin: 0 auto;
}
/* 美女电台 */
.girlShow {
    width: 100%;
    background: url(../images/bg-03-625201813f.jpg) no-repeat top center;
    height: 557px;
}
.girlShow .title {
    text-align: center;
    margin-bottom: 37px;
    padding-top: 79px;
}
.girlShow .girlShowActive {
    position: relative;
    width: 1019px;
    height: 399px;
    margin: 35px auto 0px;
    overflow: hidden;
}
.girlShow .girlShowActive ul {
    position: absolute;
    width: 4862px;
}
.girlShowActive li {
    position: relative;
    float: left;
    width: 202px;
    height: 399px;
    margin-left: 3px;
    background: url(../images/girlshow-content-6a98468b73.png) no-repeat;
}
.girlShowActive li a {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    width: 109px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    background: url(../images/tag-05b6c08323.png) no-repeat;
    display: none;
}
.girlShowActive li:first-child {margin-left: 0;background-position-x: 0px;}
.girlShowActive li.sec {background-position-x: -216px;}
.girlShowActive li.thr {background-position-x: -430px;}
.girlShowActive li.for {background-position-x: -642px;}
.girlShowActive li.fif {background-position-x: -856px;}
.girlShowActive li.six {background-position-x: -1063px;}
.girlShowActive li.seven {background-position-x: -1275px;}
.girlShowActive li:hover > a {display: block;}

.girlShow .girlShowActive .animateGirl {
    -webkit-animation:zbScroll 35s ease-in-out linear infinite;
    -o-animation: zbScroll 35s ease-in-out linear infinite;
    -moz-animation: zbScroll 35s linear infinite;
    animation: zbScroll 35s linear infinite;
}

.girlShow .girlShowActive ul:hover {
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

@-o-keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1190px) translateZ(0);
    }
}

@-moz-keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1190px) translateZ(0);
    }
}

@-webkit-keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1190px) translateZ(0);
    }
}

@keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1190px) translateZ(0);
    }
}
/*中间活动按钮样式*/
.middle {
    width: 100%;
    background: #c57979;
    height: 582px;
}
.middle .title {
    text-align: center;
    padding-top: 52px;
    margin-bottom: 33px;
}
.active {
    position: relative;
    width: 1125px;
    height: 388px;
    margin: 0 auto;
}
.active li {
    float: left;
    width: 253px;
    height: 190px;
    margin-left: 37px;
    margin-bottom: 27px;
    background: url(../images/middle-active-9bddee5c7b.png) no-repeat;
    transition: transform .5s;
    cursor: pointer;
}
.active li a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.active li:hover.fir, .active li:hover.sec, .active li:hover.thr, .active li:hover.for,
.active li:hover.five, .active li:hover.six, .active li:hover.seven, .active li:hover.eight {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    background-position-y: -256px;
}
.active li:first-child {
    margin-left: 0;
    background-position-x: 0;
}
.active li.sec {
    background-position-x: -285px;
}
.active li.thr {
    background-position-x: -570px;
}
.active li.for {
    background-position-x: -856px;
}
.active li.five {
    margin-left: 0;
    margin-bottom: 0;
    background-position-x: -2306px;
}
.active li.six {
    margin-bottom: 0;
    background-position-x: -1428px;
}
.active li.seven {
    margin-bottom: 0;
    background-position-x: -1713px;
}
.active li.eight {
    margin-bottom: 0;
    background-position-x: -1998px;
}
/*底部*/
.feature {
    background: #fffbf5 url(../images/bg-04-4765a9be0b.jpg) top center no-repeat;
    height: 808px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.feature .title {
    width: 100%;
    height: 48px;
    text-align: center;
    margin: 40px auto 50px;
}
.flipster li{
    width: 747px;
    height: 421px;
    /*background: #00aa00;*/
}
.feature .wrap {
    width: 1320px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    overflow: visible;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.feature .wrap > .title {
    background: url(../images/title-feature-53f833f63f.png) center center no-repeat;
}

.feature .control {
    position: absolute;
    top: 0;
    left: 80px;
    width: 194px;
    height: 691px;
    background: url(../images/bottom-left-c94af10db5.png) no-repeat;
    padding-top: 65px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
}

.feature .control a {
    display: block;
    width: 171px;
    height: 44px;
    line-height: 44px;;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 16px;
    border-radius: 5px;
    color: #fff;
    background: url(../images/bottom-left-nav-9b4d931df4.png) no-repeat;
    background-position: 5px -46px;
    position: relative;
}
.feature .control a:hover {
    text-decoration: none;
    color: #fff38c;
    background-position: 5px 14px;
}

.feature .control a.now {
    background-position: 5px 14px;
    color: #fff38c;
}

.feature .explain {
    position: absolute;
    bottom: 147px;
    left: 343px;
    width: 828px;
    height: 88px;
}

.feature .showGameRole .show {
    width: 977px;
    height: 688px;
    position: absolute;
    top: 90px;
    left: 343px;
}

.feature .showGameRole .skill {
    position: absolute;
    width: 1100px;
    height: 518px;
    top: 104px;
    left: -170px;
    transform: translateX(-600px) translateZ(0);
    opacity: 0;
    z-index: 1;
    filter: Alpha(opacity=0)
}

.feature .showGameRole .skill p {
    position: absolute; 
    bottom: -20px;
    left: -130px;
    width: 1215px;
    height: 88px;
    font: 30px/88px 'Microsoft Yahie';
    color: #454545;
    text-align: center;
}

.feature .showGameRole .skill p span {
    color: #2d85c2;
}

.feature .showGameRole .role {
    position: absolute;
    width: 813px;
    height: 780px;
    bottom: -27px;
    left: 685px;
    transform: translateX(600px) translateZ(0);
    opacity: 0;
    filter: Alpha(opacity=0)
}
.feature .showGameRole .job .role {
    left: 565px;
}
.feature .showGameRole .job .skill {left: -270px;}
.feature .showGameRole .job .skill p {width: 1400px;}
.feature .showGameRole .hbao .role {
    left: 625px;
}
.feature .showGameRole .hbao .skill {left: -240px;}
.feature .showGameRole .hbao .skill p {width: 1350px;}
.feature .showGameRole .bpai .role {
    left: 565px;
}
.feature .showGameRole .bpai .skill {left: -220px;}
.feature .showGameRole .bpai .skill p {width: 1335px;}

.feature .wrap .showGameRole .system.on .skill {
    transition: all .8s ease-in-out;
    transform: translateX(0) translateZ(0);
    opacity: 1;
    filter:Alpha(opacity=100);
}
.feature .wrap .showGameRole .system.on .role {
    transition: all .8s ease-in-out;
    transform: translateX(0) translateZ(0);
    opacity: 1;
    filter: Alpha(opacity=100);
}
.feature .showGameRole .skill {
    top: -80px;
}
.feature .showGameRole .system.girl .skill {
    width: 905px;
    height: 360px;
    top: 0;
    left: 0;
}
.feature .showGameRole .skill p {
    bottom: -80px;
    color: #000;
}
.feature .showGameRole .girl .skill p {
    bottom: -90px;
    left: 0;
    width: 905px;
}
.feature .showGameRole .skill p span {
    color: #a95558;
}

.feature .threeBtn {
    position: absolute;
    bottom: 70px;
    left: 200px;
}

.feature .wrap .threeBtn > a {
    display: block;
    width: 258px;
    height: 66px;
    background: url(../images/btn-bg-abb2198b20.png) 0px 0px no-repeat;
    float: left;
    margin-left: 70px;
}

.feature .wrap a.fiveSec {
    background-position-x: -881px;
}
.feature .wrap a.fastDownload {
    background-position-x: -1207px;
}
.feature .wrap a.toOfficial {
    background-position-x: -1531px;
}

.feature .wrap .threeBtn > a:hover {
    background-position-y: -74px;
}

/*底部3个按钮*/
.btnGroup {
    width: 932px;
    margin: 0 auto;
}
.btnGroup li, .btnGroup a {
    display: block;
    width: 259px;
    height: 65px;
    cursor: pointer;
}
.btnGroup li {
    float: left;
    background: url(../images/btn-bg-abb2198b20.png) no-repeat;
    margin-left: 56px;
}
.btnGroup li:first-child {margin-left: 0;}
.btnGroup li.fir {background-position: -880px 0;}
.btnGroup li.sec {background-position: -1207px 0;}
.btnGroup li.thr {background-position: -1531px 0;}

/* 美女滚动 */
.girls {
    padding: 54px 0 44px;
    /* height: 560px; */
    background: url(../images/bg-02-6fd0862199.jpg) center center no-repeat;
}
.girls .wrap > .title {
    width: 1024px;
    height: 40px;
    margin: 0 auto;
    background: url(../images/title-zb-a611b3bfae.png) center center no-repeat;
}

.girls .girlShowActive {
    position: relative;
    width: 1019px;
    height: 367px;
    margin: 55px auto 0px;
    overflow: hidden;
}

.girls .girlShowActive ul {
    position: absolute;
    /* width: 4862px; */
}

.girls .girlShowActive li {
    float: left;
    width: 156px;
    margin-left: 14px;
    position: relative;
}

.girls .girlShowActive li:first-child {
    margin-left: 0px;
}

.girls .girlShowActive li .check {
    position: absolute;
    bottom: 22px;
    left: 50%;
    margin-left: -53px;
    width:106px;
    height: 30px;
    line-height: 30px;
    background-color: #eb828b;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #fff; 
    display: none;
}

.girls .girlShowActive li:hover .check {
    display: block;
}

.girls .girlShowActive .animateGirl {
    -webkit-animation:zbScroll 35s ease-in-out linear infinite;
    -o-animation: zbScroll 35s ease-in-out linear infinite;
    -moz-animation: zbScroll 35s linear infinite;
    animation: zbScroll 35s linear infinite;
}

.girls .girlShowActive ul:hover {
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

@-o-keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1010px) translateZ(0);
    }
}

@-moz-keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1010px) translateZ(0);
    }
}

@-webkit-keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1010px) translateZ(0);
    }
}

@keyframes zbScroll {
    from {
        transform: translateX(0) translateZ(0);
    }
    to {
        transform: translateX(-1010px) translateZ(0);
    }
}

/*弹窗+黑底*/
#blackShadow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#76000000, endColorstr=#76000000);
    display: none;
}
#popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1001;
    margin-left: -416px;
    margin-top: -247.5px;
    width: 832px;
    height: 495px;
    display: none;
}
#popUp .close {
    position: absolute;
    top: 0;
    right: -50px;
    cursor: pointer;
}
/*弹窗注册*/
#popUp .regIframe {
    margin: 0 auto;
}
.regPop {
    width: 339px;
    height: 410px;
    background: #fff;
    padding: 43px 54px 42px;
}
.regPop .title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 23px;
}

/*弹窗注册完成*/
.regPopFinish .title {
    font-size: 24px;
}
.regPopFinish .userAcount {
    font-size: 12px;
    margin-bottom: 5px;
    color: #d67c95;
    text-align: center;
}
.regPopFinish .card {
    color: #d67c95;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}
.regPopFinish .card input {
    display: inline-block;
    width: 155px;
    padding-left: 5px;
    height: 28px;
    line-height: 28px;
    color: #d67c95;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #d67c95;
    vertical-align: middle;
    font-size: 14px;
}
.regPopFinish .card button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #d67c95;
    border: none;
    vertical-align: middle;
}
.regPopFinish .introduct {
    color: #d67c95;
    line-height: 25px;
    width: 260px;
    margin: 0 auto;
}
.regPopFinish .pic {
    width: 290px;
    height: 82px;
    background: url(../images/regfinshpic-377c1a9acd.jpg) no-repeat;
    margin: 10px auto 0;
}
.regPopFinish .noticeText {
    color: #d67c95;
    text-align: center;
    font-size: 14px;
    width: 270px;
    line-height: 30px;
    border-radius: 20px;
    border: 1px solid #d67c95;
    margin: 10px auto 0;
}
/*下载链接*/
#popUp .gameDownLoad {
    width: 305px;
    padding: 43px 37px 31px 43px;
    background: #c57979;
}
.gameDownLoad .title {
    margin-bottom: 16px;
    text-align: center;
}
.gameDownLoad .noticeDownLoad {
    margin-bottom: 25px;
    font-size: 16px;
    color: #ffe9a3;
    text-align: center;
}
.gameDownLoad .downLoadPic {
    text-align: center;
    margin-bottom: 25px;
}
.gameDownLoad .popUpDownLoad {
    display: block;
    margin: 0 auto;
    width: 270px;
    height: 49px;
    background: url(../images/popup-download-7c7c711d11.png) no-repeat;
}
.gameDownLoad .popUpDownLoad:hover {
    background-position-y: -53px;
}

.bold {
    font-weight: bold;
}
.orange {
    color: #f8235e;
}
.opacity0 {
    opacity: 0;
    filter: Alpha(opacity=0);
}

/*hover物品样式*/
.group {
    position: relative;
    width: 309px;
    height: 188px;
    margin: 113px 0 98px 35px;
}
.tool {
    position: absolute;
    top: 111px;
    left: 54px;
    width: 238px;
    height: 149px;
}
.tooltip {
    position: absolute;
    width: 52px;
    height: 52px;
}
.tip01 {
    top: 0;
    left: 0;
}
.tip02 {
    top: 0;
    left: 93px;
}
.tip03 {
    top: 0;
    left: 187px;
}
.tip04 {
    top: 98px;
    left: 0px;
}
.tip05 {
    top: 98px;
    left: 93px;
}
.tip06 {
    top: 98px;
    left: 187px;
}
.tip07 {
    top: 256px;
    left: 25px;
}
.tip08 {
    top: 256px;
    left: 98px;
}
.tip09 {
    top: 256px;
    left: 170px;
}
.tip10 {
    top: 256px;
    left: 243px;
}
.tip11 {
    top: 307px;
    left: 63px;
}
.tip12 {
   top: 307px;
   left: 136px;
}
.tip13 {
   top: 307px;
   left: 208px;
}
.tip14 {
   top: 307px;
   left: 280px;
}

@-webkit-keyframes rotateSlogo {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotateSlogo {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes rotateSlogo {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes rotateSlogo {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotateSlogo {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.add-group{
    margin-top: 230px;
    margin-left: 50px;
    padding: 0;
    font-size: 20px;
    color: #666;
}
